* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Utilities */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color: #3882f6;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 25px;
}

.links a, .secondary-text, .footer p {
    font-size: 18px;
    color: #e5e7eb;
}

.logo, .main-text {
    color: #f9faf8;
}

img {
    width: 100%;
}

/* Header Section */
.header {
    background-color: #1f2937;
    padding: 0 200px;
}

.header .logo {
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 10px;
    padding: 16px;
}

/* Hero Section */
.hero {
    background-color: #1f2937;
    padding: 30px 200px;
    height: auto;
    width: auto;
}

.hero .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 400px;
    width: 400px;
    text-align: left;
}

.main-text {
    font-size: 48px;
}

.sign-up {
    margin-top: 10px;
}

.hero .right {
    width: 500px;
    height: 250px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Footer Section */
.footer {
    background-color: #1f2937;
    justify-content: center;
    padding: 16px;
}